
.Product {
    max-width: 400px;
    margin: auto;
    padding: 20px; 
    background-color: #f8f9fa; 
    border: 1px solid #dee2e6; 
    border-radius: 8px;
  }
  
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .form-control {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .form-control-lg {
    font-size: 1.25em;
  }
  
  textarea.form-control {
    resize: vertical; 
  }
  
  .form-control-file {
    display: block;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
  }
  
  .btn-primary {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1em;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    border: 1px solid #007bff;
    border-radius: 4px;
  }
  
  .btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
  }
  